root = true

[*.{py,go}]
indent_style = space
indent_size = 4

[*.html]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.go]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 2

[*.coffee]
indent_style = space
indent_size = 2

[*.bat]
indent_style = tab
indent_size = 4
